//resets

body {
	margin: 0;
	text-decoration: none;
	background-image: url('../img/background.jpg');
	}
a {
	text-decoration: none;
	color: rgb(34, 32, 32);
}

//styles
.bodyDiv {
	display: flex;
	width: 80%;
	justify-content: center;
	background-color: #fff;
	box-shadow: 10px 10px 20px #928f8f;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	h1 {
		font-family: 'Lobster Two', cursive;
		font-size: 40px;
		color: rgb(46, 41, 45);
		text-align: center;
	}
}

#newUserButton, .filterBut {
	margin-bottom: 10px;
	margin-right: 30px;
	box-shadow: 3px 3px 3px rgb(226, 216, 216)
	}

table {
	th {
		font-family: Lato-Bold;
		font-size: 18px;
		color: #fff;
		background-color: #9aa9bb;
	}
	td {
		padding: 6px;
		margin: 15px;
		font-family: roboto;
		font-size: 14px;
		color: #4d4d4d;
		line-height: 1.4;
	}	
	td:hover {
		background-color: #dce0e4;
	}
}

button {
	background-color:#c6e1f0;
	display:inline-block;
	cursor:pointer;
	outline: none;
	border: none;
	color:#202020;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	padding:5px 18px;
	text-decoration:none;
	text-align: center;
}

button:hover {
	cursor: pointer;
	background-color: #62b2c0;
}

//edit
#formBox {
	form {
		display: flex;
		flex-direction: column;
		input {
			width: 80%;
			margin-bottom: 5px;
			padding: 3px 3px;
		}
		button {
			margin: auto;
			margin-top: 40px;
			margin-bottom: 20px;
			width: 50%;
			box-shadow: 3px 3px 3px rgb(199, 188, 188)
		}
	}
}